@using PierresTracker.Models;
@using System.Collections.Generic;
<html>
    <head>
        <title>All Order Summary</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='~/css/styles.css'>
    </head>
    <body>
        @Html.Partial("Header")
        <div class = "container">
            <h1>All Order Summary</h1>
            
            <div id=orderSummary>
                <div class="row" id= "headRow">
                    <div class="col-md-6">
                        Item
                    </div>
                    <div class="col-md-2">
                        Price Ea.
                    </div>
                    <div class="col-md-2">
                        Quantity
                    </div>
                    <div class="col-md-2">
                        Line Price
                    </div>
                </div>
                @foreach(KeyValuePair<string,int> pair in Model["order"].ItemsOrdered)
                {
                    <div class="row">
                        <div class="col-md-6">
                            @pair.Key
                        </div>
                        <div class="col-md-2">
                            @Order.GetInventoryItemPrice(@pair.Key)
                        </div>
                        <div class="col-md-2">
                            @pair.Value
                        </div>
                        <div class="col-md-2">
                            $@(@pair.Value*@Order.GetInventoryItemPrice(@pair.Key))
                        </div>
                    </div>
                }
                <hr>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <b>Total</b>
                    </div>
                    <div class="col-md-2">
                        $@Model["order"].Price
                    </div>
                </div>
            </div> 
        </div>
    </body>
</html>